body {
  padding-top: 54px;
  background: #EDEDED;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.breadcrumb{
    background-color: #DBDBDB;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: bold;
}

.price {
	color:#666666;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	font-style: italic;
}
.pricing {
	margin-bottom: 60px;
}
.fb {
    background-color: #3B5998;
    border-color: #3B5998;
}
.list-group-item img {
    height: 200px;
    margin-right: 20px;
}