<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <% include ../partials/nav %>
</nav>

<!-- Profile Content -->
<div class="container">
    <% include ../partials/breadcrumbs %>
    <h2>Hello, <span class="text-primary"><%= user.name %></span></h2>
    <% if (user.token) {%>
    <h6 class="text-right">You're signed via <span class="text-danger"><span class="fa fa-google-plus"></span> Google</span></h6><br>
    <%}%>
    <div class="row">

    <div class="col-sm-9 float-left">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    </div>
    <div class="col-sm-3 float-right">

                    <form class="form-horizontal form" action="/users/profile" method="POST">

                        <% if (user) {%>
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= user.name %>">
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="" value="<%= user.email %>">
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label" for="password">Change your password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit" class="btn btn-primary">Update profile</button><br>
                        <%}%>
                    </form>

                    <form class="form-horizontal form" action="/users/delete" method="POST">
                        <p>Or you can completely delete your account:</p>
                        <button type="submit" class="btn btn-default btn-sm">Delete your account</button>
                    </form>
    </div>
    </div>
</div> <!-- /container -->

<% include ../partials/footer %>

<% include confirm_pass %>

</body>
</html>
