<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <% include ../partials/nav %>
</nav>

<!-- Login form -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12"><br><br>
            <form id="form" class="form-horizontal" name="form" action="/users/signin/" method="post">
                <h3 class="form-signin-heading">Sign in</h3><br><br>
                <% if (hasErrors) {%>
                <div class="alert alert-danger">
                    <% for (var message in messages) {%>
                    <p><%= messages[message] %></p>
                    <%}%>
                </div>
                <%}%>
                <h6>Enter your email</h6>
                <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus><br>

                <h6>Password</h6>
                <input type="password" name="password" id="password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required><br>

                <h6>Confirm password</h6>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required><br>

                <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                <input type="submit" name="submit" class="btn btn-lg btn-block btn-primary" value="Sign in"/><br>
                <a href="/auth/google" class="btn btn-lg btn-primary fb">Sign in with Facebook</a>
                <a href="/auth/google" class="btn btn-lg btn-danger">Sign in with Google</a><br><br>
                <p class="align-middle">or <a href="/users/signup">create new account</a>..</p>
            </form>
        </div>
    </div>
</div> <!-- /container -->

<% include ../partials/footer %>

<% include confirm_pass %>

</body>
</html>
